<!-- Header -->
<section id="header">
    <div class="header container">
        <div class="nav-bar">
            <div class="brand">
                <a href="#hero">
                    <h1><span>S</span>udha <span>K</span>anna</h1>
                </a>
            </div>
            <div class="nav-list">
                <div class="hamburger">
                    <div class="bar"></div>
                </div>
                <ul>
                    <li><a (click)="toHome()" routerLinkActive="active" data-after="Home">Home</a></li>
                    <li><a (click)="toService()" routerLinkActive="active" data-after="Service">Experience</a></li>
                    <li><a (click)="toProject()" routerLinkActive="active" data-after="Projects">Projects</a></li>
                    <li><a (click)="toAbout()" routerLinkActive="active" data-after="About">About</a></li>
                    <li><a (click)="toContact()" routerLinkActive="active" data-after="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Header -->


<!-- Hero Section  -->
<section id="hero">
    <div class="hero container">
        <div>
            <h1>Hello, <span></span></h1>
            <h1>My Name is <span></span></h1>
            <h1>Kanna <span></span></h1>
            <a href="assets/resume.pdf" type="button" class="cta" download>Download Resume</a>
        </div>
    </div>
</section>
<!-- End Hero Section  -->


<!----------------------------SERVICE SECTION-------------------------------->

<section id="services">
    <div class="services container">
        <div class="service-top">
            <h1 class="section-title">Expe<span>ri</span>ence</h1>
            <p>To become a successful professional in the field of Software and to provide quality service to the company. Insightful knowledge and worked with a team decent knowledge on PHP, MySQL Good in developing web application with best knowledge on
                UI Development using Javascript, HTML, CSS, Angular v6+ with done 4+ Projects</p>
        </div>
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon"><img src="assets/star.png" /></div>
                <h2>City Link Portal Private Ltd</h2>
                <div class="experience-details">
                    <ul>
                        <li>Communicating with clients to determine specific requirements and expectations.</li>
                        <li>Responsible for quick delivering for patient description.</li>
                        <li>Creating a new orders and refilling the routine orders. Helped to organize process to improve efficiency.</li>
                        <li>Responsible for critical Client services as well as handled the quality checking for all quick delivering patients description as well working with live and communicate with client</li>
                    </ul>
                </div>
            </div>

            <div class="service-item">
                <div class="icon"><img src="assets/star.png" /></div>
                <h2>Neeyamo Enterprise Private Ltd</h2>
                <div class="experience-details">
                    <ul>
                        <li>Managing large and complex projects and designing, developing and debugging of the applications.</li>
                        <li>Communicating with internal clients to determine specific requirements and expectations.
                        </li>
                        <li>Following project life cycle methodology and ensured that customer deadlines were met.Involved in architecture the application and implementing with them.
                        </li>
                        <li>Responsible for developing applications using Angular v8</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!----------------------------------------------EDUCATION------------------------------------------->

<section id="services">
    <div class="services container">
        <div class="service-top">
            <h1 class="section-title">Edu<span>cat</span>ion</h1>
        </div>
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon"><img src="assets/education.png" /></div>
                <h2>Higher Studies</h2>
                <div class="education_container bd-grid">
                    <div class="education_content">
                        <div class="education_degreestart">
                            <h3 class="education_year">2010 - 2012</h3>
                            <span class="education_university">University of Studies</span>
                        </div>

                        <div class="education_time">
                            <span class="education_line"></span>
                        </div>

                        <div class="education_degree">
                            <div class="education_race">SSLC</div>
                            <span class="education_university">Sourashtra High School</span>
                        </div>

                        <!-- <div class="education_time">
                            <span class="education_line"></span>
                        </div>

                        <div class="education_degree">
                            <div class="education_race">85%</div>
                            <span class="education_university">Percentage</span>
                        </div> -->

                    </div>

                    <div class="education_content">
                        <div class="education_degreestart">
                            <h3 class="education_year">2012 - 2014</h3>
                            <span class="education_university">University of Studies</span>
                        </div>

                        <div class="education_time">
                            <span class="education_line"></span>
                        </div>

                        <div class="education_degree">
                            <div class="education_race">HSC</div>
                            <span class="education_university">Sourashtra High School</span>
                        </div>
                        <!-- 
                        <div class="education_time">
                            <span class="education_line"></span>
                        </div>

                        <div class="education_degree">
                            <div class="education_race">76%</div>
                            <span class="education_university">Percentage</span>
                        </div> -->

                    </div>
                </div>
            </div>
            <div class="service-item">
                <div class="icon"><img src="assets/education.png" /></div>
                <h2>Degree</h2>
                <div class="education_container bd-grid">
                    <div class="education_content">
                        <div class="education_degreestart">
                            <h3 class="education_year">2014 - 2017</h3>
                            <span class="education_university">University of Studies</span>
                        </div>

                        <div class="education_time">
                            <span class="education_line"></span>
                        </div>

                        <div class="education_degree">
                            <div class="education_race">B.Sc (C.S)</div>
                            <span class="education_university">Sourashtra College</span>
                        </div>

                        <!-- <div class="education_time">
                            <span class="education_line"></span>
                        </div>

                        <div class="education_degree">
                            <div class="education_race">75%</div>
                            <span class="education_university">Percentage</span>
                        </div> -->

                    </div>

                    <div class="education_content">
                        <div class="education_degreestart">
                            <h3 class="education_year">2019 - 2021</h3>
                            <span class="education_university">University of Studies</span>
                        </div>

                        <div class="education_time">
                            <span class="education_line"></span>
                        </div>

                        <div class="education_degree">
                            <div class="education_race">Pursuing</div>
                            <span class="education_university">Kamarajar University</span>
                        </div>

                        <!-- <div class="education_time">
                            <span class="education_line"></span>
                        </div>

                        <div class="education_degree">
                            <div class="education_race">60%</div>
                            <span class="education_university">Percentage (Upto 3rd Semester)</span>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!---------------------------------------MY RECENT PROJECT------------------------------------------->


<section id="projects">
    <div class="projects container">
        <div class="projects-header">
            <h1 class="section-title">Recent <span>Projects</span></h1>
        </div>
        <div class="all-projects">
            <div class="project-item">
                <div class="project-info">
                    <h1>Project 1</h1>
                    <h2>Data Collection App</h2>
                    <!-- <p> -->
                    <div class="project-details">
                        <ul>
                            <li>Collaborated on high priority projects with tact and astrongattention to detail.</li>
                            <li>Maintained a positive attitude towards the projects and delivered on time. Single handedly completed the entried project(Data Collection App with high code quality) .</li>
                            <li>Functioned with flexibility and agility. Involved in designing and architecture of the projects.</li>
                            <li>Cooperated with superiors and colleagues to achieve goals. Responsible for integrating UI design and backend as per the requirements.</li>
                            <li>Project covered collecting all the details from customer & vendor with mapped location.</li>
                            <li>Implemented map location using google key .</li>
                        </ul>
                    </div>
                    <!-- </p> -->

                </div>
                <div class="project-img">
                    <img src="assets/service.jpeg" alt="img">
                </div>
            </div>

            <div class="project-item">
                <div class="project-info">
                    <h1>Project 2</h1>
                    <h2>Customer Storage App</h2>
                    <div class="project-details">
                        <ul>
                            <li>Booking a warehouse by customer to storage their products in the bulk amount .</li>
                            <li>Customer can able to book a single and bulk order to store in the warehouse .</li>
                            <li>While once getting confirmation from the warehouse that order will be delivery the order.</li>
                            <li>Responsible for integrating UI design and backend as per the requirements.</li>
                            <li>Maintained a good positive effort and delivered on time.</li>
                            <li>Single handly completed entire API Integration with good code quality and JWT authentication .</li>
                        </ul>
                    </div>
                </div>
                <div class="project-img">
                    <img src="assets/service.jpeg" alt="img">
                </div>
            </div>

            <div class="project-item">
                <div class="project-info">
                    <h1>Project 3</h1>
                    <h2>Warehouse Storage App</h2>
                    <div class="project-details">
                        <ul>
                            <li>Cooperated with superiors and colleagues to achieve goals. Responsible for integrating UI design and backend as per the requirements</li>
                            <li>Single handly worked with entire project .</li>
                            <li>Maintaining API integration and UI design and responsibilities .</li>
                            <li>Responsible for integrating UI design and backend as per the requirements.</li>
                            <li>Involved in designing and architecture of the projects.</li>
                            <li>Warehouse application covered to store a order from by customer .</li>
                            <li>Delivering a order to the customer with good assurance and quality .</li>
                        </ul>
                    </div>
                </div>
                <div class="project-img">
                    <img src="assets/service.jpeg" alt="img">
                </div>
            </div>

            <div class="project-item">
                <div class="project-info">
                    <h1>Project 4</h1>
                    <h2>Ladies World Website</h2>
                    <div class="project-details">
                        <ul>
                            <li>Maintaining Telegram bot API</li>
                            <li>Responsible for implementing UI design.</li>
                            <li>Customer can directly able to send their feedback to client.</li>
                            <li>Website purely developed by using HTML, CSS, Javascript , Angular v9.</li>
                            <li>Maintained a good positive effort .</li>
                            <li>Single handly completed entire Project with good code quality .</li>
                        </ul>
                    </div>
                </div>
                <div class="project-img">
                    <img src="assets/service.jpeg" alt="img">
                </div>
            </div>

            <div class="project-item">
                <div class="project-info">
                    <h1>Project 5</h1>
                    <h2>My Profile </h2>
                    <div class="project-details">
                        <ul>
                            <li>Developed by using HTML, CSS, Javascript, Angular v9</li>
                            <li>Responsible for implementing UI design.</li>
                            <li>Responsible for UI design in Single page application.</li>
                            <li>Single handly completed entire Project with good code quality .</li>
                            <li>Functioned with flexibility and agility. Involved in designing and architecture of the projects.</li>
                        </ul>
                    </div>
                </div>
                <div class="project-img">
                    <img src="assets/service.jpeg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>



<!---------------------------------------------ABOUT ME ----------------------------------------->


<section id="about">
    <div class="about container">
        <div class="col-left">
            <div class="about-img">
                <img src="assets/myDP.jpeg" alt="img">
            </div>
        </div>
        <div class="col-right">
            <h1 class="section-title">About <span>Me</span></h1>
            <h2>UI Developer</h2>
            <p>A result oriented professional with over 1.10 years of experience in service delivery executive in Neeyamo Enterprise Solution with client relationship management in Healthcare domain and 1.7 years of experience in <span>UI developement</span>                in City Link Portal private Ltd and Worked with a team that delivered applications using Angular v7+ and decent knowledge on PHP and MySql. Drove effort towards maintaining software development practices; adhered to company standards for
                coding and unit/functional test coverage.</p>
            <a href="assets/resume.pdf" type="button" class="cta" download>Download Resume</a>
        </div>
    </div>
</section>



<!-----------------------------------CONTACT INFORMATION------------------------------------->

<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title">Contact <span>Info </span></h1>
        </div>

        <div class="contact-items">
            <div class="contact-item">
                <div class="icon"><img src="assets/phone.png" /></div>
                <div class="contact-info">
                    <h1>Phone</h1>
                    <h2>+91 99941-46165</h2>
                    <h2>+91 93532-22721</h2>
                </div>
            </div>

            <div class="contact-item">
                <div class="icon"><img src="assets/email.png" /></div>
                <div class="contact-info">
                    <h1>Email</h1>
                    <h2>aswathsudhar005@gmail.com</h2>
                    <h2>aswathsudhar007@gmail.com</h2>
                </div>
            </div>

            <div class="contact-item">
                <!-- <a href="https://www.google.com/maps/place/Ladies+World+Tailors/@9.8948766,78.1199914,21z/data=!4m5!3m4!1s0x0:0x32f05842e8170525!8m2!3d9.8947924!4d78.1200373"> -->
                <div class="icon"><img src="assets/location.png" /></div>
                <div class="contact-info">
                    <h1>Address</h1>
                    <h2>28, Veera Sivaji Street, Villapuram, Madurai</h2>
                </div>
                <!-- </a> -->
            </div>
        </div>
    </div>
</section>



<!-----------------------------------------------FOOTER--------------------------------------------->


<section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1><span>S</span>udha <span>K</span>anna</h1>
            <h2>For More Details</h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/dusk/100/000000/facebook-new.png" /></a>
                </div>

                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/dusk/100/000000/instagram-new.png" /></a>
                </div>

                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/dusk/100/000000/twitter.png" /></a>
                </div>

                <div class="social-item">
                    <a href="#"><img src="https://img.icons8.com/dusk/100/000000/viber.png" /></a>
                </div>
            </div>
        </div>
        <p>For More Details . Contact Me</p>
    </div>
</section>